@media screen and (max-width: 1500px) {
.swiper-pagination {
    right: -40px;
}

}


@media screen and (max-width: 1400px) {


.navbar-nav .nav-item {
    padding: 0 6px;
}

.navbar-nav a {
    font-size: 15px;
}


.inner-footer-box .right-footer {
    width: 100%;
    padding: 45px 0 0;
}

.inner-footer-box .item-footer {
    width: calc(28% - 20px);
}

.inner-footer-box .item-footer:nth-child(1), .inner-footer-box .item-footer:nth-child(2) {
    width: calc(22% - 20px);
}

.navbar-nav li .nav-link {
    padding: 0 14px;
}


ul.sub-menu li.nav-item a {
    font-size: 16px;
}

.logo img {
    max-width: 170px;
}

h1 {
    font-size: 45px;
    line-height: 48px;
}

.home-page-banner .banner-details-text {
    max-width: 500px;
}

footer h4 {
    font-size: 20px;
}

footer a {
    font-size: 15px;
}

.inner-footer-box p {
    font-size: 15px;
}

.top-footer .footer-inner-box:nth-child(2) .footer-box {
    padding-left: 15px;
}


}



@media screen and (max-width: 1199px) {

.navbar-nav .nav-item {
    padding: 0 14px;
}

.welcome-sec .welcome-box .text-box {
    padding: 100px 15px 15px;
}

.navbar-nav a {
    font-size: 18px;
}

.navbar-nav a{ font-size: 14px;}
.navbar-nav .nav-item {padding: 0px 8px;}
.header .btn-primary {font-size: 14px;padding:10px;min-width: 94px;}
.header .btn {margin-left: 10px; margin-top: 5px;}
.header .btn-primary i{ display: none;}

.header-right .navbar-nav {flex-direction: column;}
.header .offcanvas-start {background: var(--Primary-Color);}
.offcanvas-start { border-right: none; width: 300px;}
.header-right .offcanvas-body {align-items: self-start;padding: 20px 0px;}
.header-right .offcanvas-body nav {width: 100%;}
.navbar-nav .nav-item {padding:0px 20px;}
.navbar-nav li .nav-link {padding: 10px 0px;color: #fff;}
.navbar-nav .nav-link{ font-size: 16px;color: #fff;text-align: left;}
.header .border-bottom {border-bottom: 1px solid #3f3f3f !important;}
.logo{max-width: 160px; padding-right: 10px;}
.main {margin-top: 81px;}

/* header.header {
    padding: 15px 0;
} */


.navbar-nav .nav-item .dropdown-menu {
    position: static !important;
    background: transparent;
    padding: 8px 12px 12px !important;
}

.navbar-nav .nav-item .dropdown-menu li a {
    color: #fff;
    padding: 0;
    font-size: 15px;
}

.navbar-nav .nav-item .dropdown-menu li:not(:last-child) a {
    padding-bottom: 10px;
}



body.home-page {}

body.home-page .bar1, body.home-page .bar2, body.home-page .bar3 {
    background-color: var(--white);
}

.home-page-banner img {
    min-height: 800px;
}

.top-footer .footer-inner-box {
    width: calc(50% - 20px);
    margin-bottom: 45px;
}

.top-footer .footer-inner-box:nth-child(2) {
    width: calc(50% - 20px);
}

.top-footer .footer-inner-box:nth-child(2) .footer-box {
    padding: 0;
}

.top-footer {
    padding: 100px 0 60px;
}



}

@media screen and (max-width: 991px) {



.top-header .text-header {
    position: static;
    margin-left: 0;
}

.bottom-footer p {
    position: static;
    text-align: center;
    padding-top: 23px;
    display: block;
}

.top-footer {
    padding: 60px 0 10px;
}

.bottom-footer {
    padding: 20px 0;
}

h1 {
    font-size: 35px;
    line-height: 41px;
}

.home-page-banner img {
    min-height: 700px;
}



}


    
@media screen and (max-width: 767px) {
    


.container {padding: 0 15px;}

.top-header p a {
    display: block;
}

.top-header .text-header {
    width: 100%;
    margin: 0 auto;
}

.top-header p {
    line-height: 22px;
}

.top-header {
    padding: 6px 0;
}

.logo img {
    max-width: 145px;
}

.btn-green {
    padding: 10px 12px !important;
}

h1 {
    font-size: 26px;
    line-height: 35px;
}

.home-page-banner p {
    margin: 18px 0 25px;
}

.home-page-banner .banner-details-text {
    left: 15px;
    max-width: calc(100% - 40px);
    bottom: 80px;
}

.btn-theme {
    padding: 11px 22px;
}

.swiper-pagination {
    bottom: 20px !important;
}

.top-footer .footer-inner-box {
    width: 100%;
    margin: 0 0 30px;
}

.top-footer .footer-inner-box:nth-child(2) {
    width: 100%;
}

.box-com-footer ul {
    width: 100%;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 17px;
}



}
    
    
       
           
           
           