@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
  font-size: 16px;
  overflow-x: hidden;
  color: var(--Primary-Color);
  font-family: var(--font-family-roboto);
  font-weight: 400;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --Primary-Color: #151515;
  --yellow: #CCA45A;
  --red-color: #A92F11;
  --text-color: #737373;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-manrope: "Manrope", sans-serif;
}

/*.text-gray{ color: #667085;}*/

.contact-list a{
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
    color: var(--Primary-Color);
}

button,
select {
  outline: none !important;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1.1;
  font-family: var(--font-family-manrope);
}

.user-auth a {
  transition: all 500ms ease 0s;
}

img {
  max-width: 100%;
}

.header {
  z-index: 91;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0;
  background-color: transparent;
  width: 100%;
  transition: all 0.3s ease 0s;
  /* border-bottom: 1px solid #E2E5E8; */
}

.header.sticky {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  background: var(--white);
}

.header .btn {
  box-shadow: none !important;
  outline: none !important;
}

.header-right .offcanvas-body {
  padding: 0px;
  overflow-y: visible;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: flex-end;
}

.logo a {
  outline: none !important;
}

.offcanvas {
  border-right: none;
}

.header-right .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.navbar-nav .nav-item {
  padding: 0px 20px;
}

.navbar-nav a {
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease 0s;
  padding: 0px;
  font-weight: 500;
  color: var(--Primary-Color);
  letter-spacing: 0;
  line-height: 115%;
}

.mobile-nav {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  background-color: var(--Primary-Color);
  cursor: pointer;
  height: 2px;
  margin: 7px 0px;
  transition: all 0.25s ease-in-out 0s;
  width: 30px;
  display: block;
  position: absolute;
}

.bar1 {
  top: 0px;
}

.bar2 {
  top: 8px;
  width: 20px;
}

.bar3 {
  top: 16px;
}

.open-menu .bar1 {
  top: 6px;
  transform: rotate(45deg);
}

.open-menu .bar2 {
  display: none;
}

.open-menu .bar3 {
  top: 6px;
  transform: rotate(-45deg);
}

.header-right button.btn.d-md-none {
  padding: 0px;
  margin-left: 20px;
  box-shadow: none !important;
}

.navbar-nav .nav-item .dropdown-menu {
  padding: 10px;
  box-shadow: rgba(11, 15, 25, 0.05) 0px 0.275rem 1.25rem, rgba(11, 15, 25, 0.03) 0px 0.25rem 0.5625rem;
  border-color: rgb(255, 255, 255);
  border-radius: 0px;
  padding: 8px !important;
  border: 0;
  top: 100%;
  transform: inherit !important;
  inset: inherit !important;
}

.navbar-nav .nav-item .dropdown-menu li:not(:last-child) {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.10); */
}

.navbar-nav .nav-item .dropdown-menu li a {
  color: var(--Primary-Color);
  display: block;
  /* font-size: 1rem; */
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.header-right button.btn.d-md-none {
  padding: 0px;
  margin-left: 20px;
  box-shadow: none !important;
}

.menu-item li a {
  font-size: 14px;
  color: var(--Primary-Color);
  padding: 5px 0px;
  display: block;
}

/* .menu-item li a:hover {
  color: rgb(26, 8, 83);
} */

.header-right{/* flex: 1; */}

.user-auth+.user-auth{ margin-left: 10px;}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 1199px) {
  .offcanvas {
    position: static;
    z-index: auto;
    display: block;
    width: 100%;
    height: auto;
    border: 0px;
    visibility: visible;
    transition: none 0s ease 0s;
    transform: inherit;
    background-color: transparent;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 188px;
    display: block;
    /* top: 15px !important; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .navbar-nav .nav-item:hover .dropdown-menu {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }

  .navbar-nav .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
  }

}

.navbar-nav li .nav-link {
  text-decoration: none;
  padding: 0;
  display: block;
  color: var(--Primary-Color);
  /* max-width: 160px; */
}

.navbar-nav li.active a, .navbar-nav li a:hover{ color: var(--yellow);}
.navbar-nav a:hover, .navbar-nav a:active {
  color: var(--yellow);
}


@media screen and (max-width: 767px) {
  .navbar-nav {
    display: block;
  }

  .navbar-nav a {
    color: rgb(255, 255, 255);
  }
}


.btn-search {
    position: relative;
    padding: 10px 16px 13px;
    overflow: hidden;
    box-shadow: none;
    font-size: 20px;
    display: inline-block;
    background: #D5D9DD;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    z-index: 1;
    border: 0;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-auth {
    margin-left: 16px;
}

.btn-search svg {
    display: block;
}

.mt-80 {
    margin-top: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}


.mb-80 {
    margin-bottom: 80px;
}


.main {
    margin-top: 90px;
}


/*******footer*********/

.bg-black {
    background: #1D1D1D;
}

.inner-footer-box .left-footer {width: 360px;}

.inner-footer-box  .footer-logo {
    display: block;
    margin-bottom: 24px;
}

.inner-footer-box  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: #FCFCFC;
    margin-bottom: 8px;
}

.inner-footer-box .right-footer {
    width: calc(100% - 360px);
    /* padding-left: 60px; */
    padding-left: 10px;
}

.inner-footer-box .item-footer:nth-child(1), .inner-footer-box .item-footer:nth-child(2) {width: calc(20% - 20px);}

footer h4 {
    color: var(--white);
    font-weight: 700;
    font-size: 22px;
    line-height: 16px;
    letter-spacing: 0;
    margin: 0 0 30px;
}

footer a {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    margin-bottom: 8px;
    display: block;
}

footer li {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
}

.inner-footer-box .item-footer {
    width: calc(30% - 20px);
    margin: 0 10px;
}

.inner-footer-box .item-footer .input-group {
    margin-top: 10px;
}

.inner-footer-box .item-footer .input-group input.form-control {
    border: 1px solid #6A6D70;
    width: 100%;
    background: transparent;
    border-radius: 12px !important;
    padding: 12px 14px;
    color: var(--white);
}

.inner-footer-box .item-footer .input-group button {
    position: absolute;
    width: auto;
    padding: 0;
    right: 1px;
    min-width: auto;
    background: #3E3F40;
    border-radius: 12px;
    padding: 12px;
    top: 1px;
}

.inner-footer-box .item-footer .input-group button svg {
    display: block;
}

.inner-footer-box .item-footer .input-group button:hover {
    background: #2e2e2e;
}

.inner-footer-box .item-footer .input-group button:before {
    display: none;
}

.bg-light-black {
    background: #252627;
    padding: 32px 15px;
}

.bottom-footer p {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: #FCFCFC;
}

footer a:hover {
    color: var(--white);
    opacity: 0.5;
}

.container {
    max-width: 1480px;
    padding: 0 20px;
}


.top-footer {
    background: #122F2A;
    padding: 120px 0;
}

.bg-light-yellow {
    background: #B49150E5;
}

.bottom-footer {
    padding: 40px 0;
}

.bottom-footer p {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

footer .bottom-footer a, footer .bottom-footer p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0;
    font-family: var(--font-family-manrope);
}

.top-footer .footer-inner-box {
    width: calc(20% - 20px);
    margin: 0 10px;
}

.top-footer .footer-inner-box:nth-child(2) {
    width: calc(40% - 20px);
}

.box-com-footer ul {
    width: 50%;
}

.top-footer .footer-inner-box:nth-child(2) .footer-box {
    padding-left: 30px;
}

.inner-footer-box  input.form-control {
    border-radius: 0;
    padding: 10px 39px 10px 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0;
    color: #898989;
    box-shadow: none !important;
    outline: none !important;
}

.inner-footer-box input.form-control::placeholder {
    color: #898989;
}

button.btn-footer {
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    padding: 7px 14px;
    z-index: 3;
    opacity: 1;
}

.footer-newsletter {
    margin-bottom: 20px;
}

.footer-newsletter .input-group {
    position: relative;
}

.top-footer  .icons {
    width: 30px;
}

.top-footer .text {
    width: calc(100% - 30px);
}


/*****header***********/

body.home-page .main {
    margin: 0;
}

.top-header {
    background: var(--red-color);
    padding: 20px 0;
}

.top-header p {
    margin: 0;
    font-family: var(--font-family-manrope);
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0;
    color: var(--white);
    text-align: center;
}

.top-header p a {
    font-weight: 500;
    color: #FFABAB;
}

.top-header .text-header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

 .social-header p {
    font-weight: 500;
}

 .social-header ul li a {
    background: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease;
}

 .social-header ul li a:hover {
    transform: translateY(-6px);
}

.bottom-header {
    padding: 20px 0;
}

.bottom-header a {
    display: block;
}

.btn-theme {
    padding: 16px 26px;
    font-family: var(--font-family-manrope);
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    text-transform: capitalize;
    display: inline-block;
}

.btn-green {
    background: #549F57;
    color: var(--white);
    padding: 15px 20px;
    line-height: 18px;
}

.home-page-banner .inner-banner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(3 34 27 / 50%);
    z-index: 0;
}

.home-page-banner img {
    width: 100%;
    min-height: 900px;
    max-height: 1150px;
    object-fit: cover;
    object-position: center;
}

.home-page-banner .text-box {
    position: relative;
}

.home-page-banner .banner-details-text {
    position: absolute;
    bottom: 170px;
    left: 20px;
    max-width: 670px;
}

.home-page-banner .container {
    position: relative;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -.2px;
    text-transform: capitalize;
}

.home-page-banner h1 {
    color: var(--white);
}

.home-page-banner p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: var(--white);
    margin: 44px 0;
}

.white-btn {
    background: var(--white);
    color: var(--primery-color);
}

.white-btn:hover {
    background: var(--yellow);
    color: var(--white);
}

.swiper-pagination {
    z-index: 4 !important;
    max-width: 1450px;
    margin: 0 auto;
    right: -14px;
    text-align: left;
    bottom: 80px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--yellow) !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background: #D9D9D9;
    width: 14px !important;
    height: 14px !important;
    opacity: 1;
    margin: 0 9px 0 0 !important;
    border: none !important;
}


body.home-page .navbar-nav li .nav-link {
    color: var(--white);
}

body.home-page .navbar-nav li.active .nav-link, body.home-page .navbar-nav li .nav-link:hover {
    color: var(--yellow);
}

body.home-page .sticky .navbar-nav li .nav-link {
    color: var(--primary-color);
}


.logo-black {
    display: none;
}


body.home-page .logo-white {
    display: block;
}

body.home-page .logo-black {
    display: none;
}

.logo-white {
    display: none;
}

body.home-page .sticky .logo-black {
    display: block;
}

body.home-page .sticky .logo-white {
    display: none;
}

body.home-page .sticky .bar1, body.home-page .sticky .bar2, body.home-page .sticky .bar3 {
  background-color: var(--Primary-Color);
}

body.home-page .sticky .navbar-nav li .nav-link {
    color: var(--white);
}

body.home-page .sticky .navbar-nav li.active .nav-link {
    color: var(--yellow);
}