@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
  font-size: 16px;
  overflow-x: hidden;
  color: var(--Primary-Color);
  font-family: var(--font-family-roboto);
  font-weight: 300;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --Primary-Color: #151515;
  --yellow: #CCA45A;
  --red-color: #A92F11;
  --text-color: #737373;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-manrope: "Manrope", sans-serif;

  --dark-green:#122F2A;
  --title:#151515;
}

/*.text-gray{ color: #667085;}*/

.contact-list a{
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
}

a:hover {
    color: var(--Primary-Color);
}

button,
select {
  outline: none !important;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1.1;
  font-family: var(--font-family-manrope);
}

.user-auth a {
  transition: all 500ms ease 0s;
}

img {
  max-width: 100%;
}

.header {
  z-index: 91;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0;
  background-color: #F5F5F6;
  width: 100%;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #E2E5E8;
}

.header.sticky {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

.header .btn {
  box-shadow: none !important;
  outline: none !important;
}

.header-right .offcanvas-body {
  padding: 0px;
  overflow-y: visible;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: flex-end;
}

.logo a {
  outline: none !important;
}

.offcanvas {
  border-right: none;
}

.header-right .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.navbar-nav .nav-item {
  padding: 0px 15px;
}

.navbar-nav a {
  font-size: 20px;
  position: relative;
  transition: all 0.3s ease 0s;
  padding: 0px;
  font-weight: 400;
  color: var(--Primary-Color);
  letter-spacing: 0;
}


.navbar-nav .nav-link::before {
  content: "";
  height: 2px;
  background: var(--Primary-Color);
  width: 0px;
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease 0s;
  right: 0;
  margin: 0 auto;
}

.navbar-nav a:hover::before, .navbar-nav a.active::before {
  width: 22px;
}

.menu-item li a:hover::before {
  width: 100%;
}

.mobile-nav {
  width: 30px;
  height: 30px;
  position: relative;
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  background-color: var(--Primary-Color);
  cursor: pointer;
  height: 2px;
  margin: 7px 0px;
  transition: all 0.25s ease-in-out 0s;
  width: 30px;
  display: block;
  position: absolute;
}

.bar1 {
  top: 0px;
}

.bar2 {
  top: 8px;
  width: 20px;
}

.bar3 {
  top: 16px;
}

.open-menu .bar1 {
  top: 6px;
  transform: rotate(45deg);
}

.open-menu .bar2 {
  display: none;
}

.open-menu .bar3 {
  top: 6px;
  transform: rotate(-45deg);
}

.header-right button.btn.d-md-none {
  padding: 0px;
  margin-left: 20px;
  box-shadow: none !important;
}

.navbar-nav .nav-item .dropdown-menu {
  padding: 10px;
  box-shadow: rgba(11, 15, 25, 0.05) 0px 0.275rem 1.25rem, rgba(11, 15, 25, 0.03) 0px 0.25rem 0.5625rem;
  border-color: rgb(255, 255, 255);
  border-radius: 0px;
  padding: 8px !important;
  border: 0;
  top: 100%;
  transform: inherit !important;
  inset: inherit !important;
}

.navbar-nav .nav-item .dropdown-menu li:not(:last-child) {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.10); */
}

.navbar-nav .nav-item .dropdown-menu li a {
  color: var(--Primary-Color);
  display: block;
  /* font-size: 1rem; */
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.header-right button.btn.d-md-none {
  padding: 0px;
  margin-left: 20px;
  box-shadow: none !important;
}

.menu-item li a {
  font-size: 14px;
  color: var(--Primary-Color);
  padding: 5px 0px;
  display: block;
}

/* .menu-item li a:hover {
  color: rgb(26, 8, 83);
} */

.header-right{flex: 1;}

.user-auth+.user-auth{ margin-left: 10px;}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 1199px) {
  .offcanvas {
    position: static;
    z-index: auto;
    display: block;
    width: 100%;
    height: auto;
    border: 0px;
    visibility: visible;
    transition: none 0s ease 0s;
    transform: inherit;
    background-color: transparent;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 188px;
    display: block;
    /* top: 15px !important; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .navbar-nav .nav-item:hover .dropdown-menu {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }

  .navbar-nav .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
  }

}

.navbar-nav li .nav-link {
  text-decoration: none;
  padding: 30px 0px;
  display: block;
  color: var(--Primary-Color);
}

.navbar-nav li.active a{ color: var(--Primary-Color);}
.navbar-nav a:hover {
  color: var(--Primary-Color);
}


@media screen and (max-width: 767px) {
  .navbar-nav {
    display: block;
  }

  .navbar-nav a {
    color: rgb(255, 255, 255);
  }
}


.btn-search {
    position: relative;
    padding: 10px 16px 13px;
    overflow: hidden;
    box-shadow: none;
    font-size: 20px;
    display: inline-block;
    background: #D5D9DD;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    z-index: 1;
    border: 0;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-auth {
    margin-left: 16px;
}

.btn-search svg {
    display: block;
}

.mt-80 {
    margin-top: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}


.mb-80 {
    margin-bottom: 80px;
}


.main {
    margin-top: 90px;
}


/*******footer*********/

.bg-black {
    background: #1D1D1D;
}

.inner-footer-box .left-footer {width: 360px;}

.inner-footer-box  .footer-logo {
    display: block;
    margin-bottom: 24px;
}

.inner-footer-box  p {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: #FCFCFC;
}

.inner-footer-box .right-footer {
    width: calc(100% - 360px);
    /* padding-left: 60px; */
    padding-left: 10px;
}

.inner-footer-box .item-footer:nth-child(1), .inner-footer-box .item-footer:nth-child(2) {width: calc(20% - 20px);}

footer h4 {
    color: var(--white);
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0 0 24px;
}

footer a {
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 8px;
    display: block;
}

footer li {
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.inner-footer-box .item-footer {
    width: calc(30% - 20px);
    margin: 0 10px;
}

.inner-footer-box .item-footer .input-group {
    margin-top: 10px;
}

.inner-footer-box .item-footer .input-group input.form-control {
    border: 1px solid #6A6D70;
    width: 100%;
    background: transparent;
    border-radius: 12px !important;
    padding: 12px 14px;
    color: var(--white);
}

.inner-footer-box .item-footer .input-group button {
    position: absolute;
    width: auto;
    padding: 0;
    right: 1px;
    min-width: auto;
    background: #3E3F40;
    border-radius: 12px;
    padding: 12px;
    top: 1px;
}

.inner-footer-box .item-footer .input-group button svg {
    display: block;
}

.inner-footer-box .item-footer .input-group button:hover {
    background: #2e2e2e;
}

.inner-footer-box .item-footer .input-group button:before {
    display: none;
}

.bg-light-black {
    background: #252627;
    padding: 32px 15px;
}

.bottom-footer p {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: #FCFCFC;
}

footer a:hover {
    color: var(--white);
    opacity: 0.5;
}


/* Raju css start */
.container{ max-width: 1480px;}
.py-100{ padding: 100px 0px;}
.mb-30{ margin-bottom: 30px;}
.mb-68{ margin-bottom: 68px;}
 h2 { font-weight: 700; font-size: 38px; line-height: 55px; text-transform: capitalize;
color: var(--title); margin-bottom: 30px;}
.h-h2 {font-size: 60px;line-height: 64px; font-weight: 800; color: var(--title);}

/* End globle */
.text-gold{ color: var(--yellow);}
.community-section{
  background: linear-gradient(105.65deg, rgba(255, 249, 238, 0.9) 13.56%, rgba(255, 255, 255, 0.9) 87.45%);
}
.subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: var(--title);
    margin-bottom: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.info-card {
  background: var(--dark-green);
  color: var(--bs-white);
  padding: 33px 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  height: 100%;
}


.card-icon {
  margin-left: auto;
  width: 75px;
  height: 75px;
  flex: 0 0 auto;
  background: var(--bs-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.card-number {
    font-weight: 800;
    font-size: 60px;
    line-height: 30px;
    text-transform: capitalize;
    color: #1F4740;
}

.card-content h4 {
    font-weight: 500;
    font-size: 18px;
    font-family: var(--font-family-roboto);
    line-height: 17px;
}

.info-card .icon-add {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 16px;
    bottom: 23px;
}

.description{ color:var(--text-color);}


.event-item {display: flex; gap: 20px; margin-bottom: 28px;}
.event-item .event-thumb {width: 240px; flex: 0 0 auto; max-width: 100%;}
.block-header p { max-width: 984px; margin: 0 auto;}

.event-image {margin-bottom: 34px;}
.event-date {font-weight: 500;font-size: 14px;line-height: 10px;color: rgba(89, 89, 89, 1);}
.events-section h4{font-weight: 700;font-size: 20px;margin: 18px 0px;line-height: 16px;}
.events-section .event-list h4 {font-size: 20px;margin: 13px 0px;line-height: 30px;}